html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

h1, h2, h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3.75rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 1.75rem;
}

p {
  text-align: center;
  padding: 1rem;
}

.container {
  background-color: #6f437a;
}

.hidden {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  position: fixed;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
}
.header .white {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.header .mainLogo {
  margin: 10px 0;
  height: 50px;
  align-self: center;
  z-index: 1;
}
.header .burger {
  align-self: center;
  width: 26px;
  cursor: pointer;
  z-index: 1;
}
.header .burger .bLine {
  border-radius: 10px;
  height: 4px;
  margin-top: 4px;
  background-color: #4D4D4F;
}
.header .mainNav {
  background-color: whitesmoke;
  opacity: 0.2;
  position: absolute;
  z-index: -10;
  width: 100%;
  top: -500px;
  left: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}
.header .mainNav .navList {
  padding: 10px auto;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .mainNav .navList a {
  color: black;
  text-decoration: none;
  width: 85%;
  padding: 30px 0;
  border-bottom: solid 1px rgba(216, 0, 0, 0.6);
  transition: all 0.1s ease;
}
.header .mainNav .navList a:hover {
  color: rgba(216, 0, 0, 0.6);
}
.header .mainNav .navList a:last-child {
  color: #ffffff;
  background-color: rgba(216, 0, 0, 0.6);
}
.header .navOn {
  background-color: #6f437a;
  opacity: 0.9;
  pointer-events: all;
  top: 70px;
  z-index: 1;
}

#content {
  color: white;
  margin: 0 auto;
  max-width: 960px;
}
#content .copy {
  text-align: center;
  font-size: 1em;
  color: white;
  letter-spacing: 1px;
  line-height: 1.4;
  padding: 1em 1.5em;
}
#content .hero {
  margin: 0 auto;
}
#content .hero img {
  width: 100%;
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}
#content .hero .about {
  padding: 0.5em 0.5em;
  width: 100%;
  transform: translateX(-5px);
}
#content .hero .about h3 {
  text-align: left;
  padding: 0.25em 0.5em;
  line-height: 1;
  font-weight: bolder;
}
#content .hero .about p {
  line-height: 1.2;
  padding: 0.25em 0.25em;
  text-align: center;
}
#content #campaign {
  margin: 0 auto;
}
#content #campaign .info {
  border-radius: 0.5em;
  background-color: white;
  padding: 0.75em 0.5em;
  width: 100%;
  transform: translateX(-5px);
}
#content #campaign .info h3 {
  color: #7d737f;
  text-align: left;
  padding: 0.25em 0.5em;
  font-weight: bolder;
}
#content #campaign .info p {
  color: #7d737f;
}
#content #campaign .links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0.25em 0.25em;
}
#content #campaign .links .campaign-link {
  background-color: white;
  border-radius: 2.5em;
  margin: 10px auto;
  border: 0.25em solid #6f437a;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Raleway";
  font-size: 14px;
  color: #7d737f;
  transition: all 0.1s ease;
  transform: scale(1.1);
}
#content #campaign .links .campaign-link:hover {
  background-color: #6f437a;
  color: rgba(216, 0, 0, 0.6);
}
#content .content-pic {
  margin: 0 auto;
}
#content .content-pic .content__img {
  width: 100%;
  box-shadow: 0.25em #7d737f;
}
#content #contact {
  margin: 0 auto;
  margin: 50px 0;
}
#content #contact .contact-deets {
  padding: 0.5em 0.5em;
}
#content #contact form {
  max-width: 480px;
  margin: 10px auto;
}
#content #contact form input, #content #contact form textarea {
  margin: 8px auto;
  width: 70%;
  border-radius: 0.5em;
  padding: 0.25em 0.5em;
  font-family: "Raleway";
  font-size: 14px;
}
#content #contact form input {
  border: none;
  border-bottom: solid 1px rgba(77, 77, 79, 0.7);
  transition: all 0.1s ease;
}
#content #contact form input:focus {
  border-bottom: solid 1px rgba(216, 0, 0, 0.6);
}
#content #contact form textarea {
  border: none;
  height: 100px;
  border-bottom: solid 1px rgba(77, 77, 79, 0.7);
}
#content #contact form textarea:focus {
  border-bottom: solid 1px rgba(216, 0, 0, 0.6);
}
#content #contact form button {
  display: block;
  margin: 10px auto;
  border: none;
  padding: 5px 15px;
  border-radius: 25px;
  background-color: rgba(216, 0, 0, 0.6);
  font-family: "Raleway";
  font-size: 14px;
  color: white;
  transition: all 0.1s ease;
}
#content #contact form button:hover {
  background-color: #6f437a;
  color: rgba(216, 0, 0, 0.6);
  transform: scale(1.1);
}
#content #donate {
  margin: 0 auto;
  margin: 50px auto;
  padding: 0.25em 0.5em;
}
#content #donate button {
  background-color: white;
  border-radius: 2.5em;
  margin: 10px auto;
  border: 0.25em solid #6f437a;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Raleway";
  font-size: 14px;
  color: #7d737f;
  transition: all 0.1s ease;
}
#content #donate button:hover {
  background-color: #6f437a;
  color: rgba(216, 0, 0, 0.6);
  transform: scale(1.1);
}
#content .newsletter {
  margin: 0 auto;
  background-color: #6f437a;
  margin-bottom: 30px;
}
#content .newsletter h3 {
  color: whitesmoke;
  padding: 0.5em 0.5em;
}
#content .newsletter input {
  margin: 8px auto;
  width: 70%;
  border-radius: 0.5em;
  padding: 0.25em 0.5em;
  font-family: "Raleway";
  font-size: 14px;
}
#content .newsletter button {
  background-color: white;
  border-radius: 2.5em;
  margin: 10px auto;
  border: 0.25em solid #6f437a;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-family: "Raleway";
  font-size: 14px;
  color: #7d737f;
  transition: all 0.1s ease;
}
#content .newsletter button:hover {
  background-color: #6f437a;
  color: rgba(216, 0, 0, 0.6);
  transform: scale(1.1);
}
#content .newsletter .news-image {
  margin: 0 auto;
  max-width: 1080px;
}
#content .newsletter .news-pic {
  width: 100%;
}

@media screen and (min-width: 720px) {
  #content {
    margin: 0 auto;
  }
  #content h3 {
    font-size: 2.75em;
  }
  #content .copy {
    font-size: 1em;
    line-height: 1.5;
    padding: 1.5em 1.5em;
  }
  #content .info h2 {
    margin-top: 0.5em;
  }
}
.footer {
  padding: 1.75em 0.5em;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
.footer .navList .navItem {
  margin-bottom: 10px;
  font-size: 14px;
  transition: all 0.1s ease;
}
.footer .navList a {
  color: #4D4D4F;
  text-decoration: none;
}
.footer .navList a:hover {
  color: rgba(216, 0, 0, 0.6);
}
.footer .navList a:last-child .navItem {
  color: #ffffff;
  background-color: rgba(216, 0, 0, 0.6);
  padding: 5px;
  border-radius: 15px;
}
.footer .navList a:last-child .navItem:hover {
  background-color: #ffffff;
  color: rgba(216, 0, 0, 0.6);
}
.footer .social {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 35px;
}
.footer .social a {
  color: #4D4D4F;
  font-size: 18px;
  transition: all 0.1s ease;
}
.footer .social a:hover {
  color: rgba(216, 0, 0, 0.6);
}

.dashboardPage {
  padding-top: 1px;
}
.dashboardPage h2 {
  margin-top: 100px;
  font-size: 30px;
}
.dashboardPage ul {
  display: flex;
  flex-direction: column;
}
.dashboardPage ul a {
  margin-top: 30px;
}

.blog {
  display: flex;
  flex-direction: column;
}
.blog .blogPost {
  padding: 20px;
  margin: 50px auto;
  box-shadow: 0px 0px 20px -4px rgba(0, 0, 0, 0.2);
}
.blog .blogPost h4 {
  font-size: 24px;
}
.blog .blogPost h5 {
  font-style: italic;
  margin-top: 10px;
}
.blog .blogPost h6 {
  margin-top: 5px;
  font-size: 12px;
}
.blog .blogPost .date {
  margin-top: 5px;
  font-style: italic;
  font-size: 12px;
  opacity: 0.8;
}
.blog .blogPost img {
  width: 100%;
  margin: 20px 0;
}
.blog .blogPost .text {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 22px;
}
.blog .blogPost .edit {
  background: none;
  border: none;
  font-family: "Raleway";
  color: rgba(216, 0, 0, 0.6);
  text-decoration: underline;
  margin-top: 10px;
  font-size: 12px;
}

.loginPage {
  height: 100%;
}
.loginPage h2 {
  padding-top: 200px;
  font-size: 30px;
}

.adminArea form {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}
.adminArea form label {
  margin-top: 30px;
}
.adminArea form input, .adminArea form textarea {
  margin: 8px auto;
  width: 70%;
  padding: 5px;
  font-family: "Raleway";
  font-size: 14px;
}
.adminArea form input {
  border: none;
  border-bottom: solid 1px rgba(77, 77, 79, 0.7);
  transition: all 0.1s ease;
}
.adminArea form input:focus {
  border-bottom: solid 1px rgba(216, 0, 0, 0.6);
}
.adminArea form textarea {
  border: none;
  height: 100px;
  border-bottom: solid 1px rgba(77, 77, 79, 0.7);
}
.adminArea form textarea:focus {
  border-bottom: solid 1px rgba(216, 0, 0, 0.6);
}
.adminArea form button {
  display: block;
  margin: 10px auto;
  border: none;
  padding: 5px 15px;
  border-radius: 25px;
  background-color: rgba(216, 0, 0, 0.6);
  font-family: "Raleway";
  font-size: 14px;
  color: white;
  transition: all 0.1s ease;
}
.adminArea form button:hover {
  background-color: #ffffff;
  color: rgba(216, 0, 0, 0.6);
}

.talk-header {
  background: #6f437a;
  margin: 0 auto;
  padding: 1em 1em;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  width: 100%;
}
.talk-header .white {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.talk-header .mainLogo {
  margin: 10px 0;
  height: 50px;
  align-self: center;
  z-index: 1;
}
.talk-header .burger {
  align-self: center;
  width: 26px;
  cursor: pointer;
  z-index: 1;
}
.talk-header .burger .bLine {
  border-radius: 10px;
  height: 4px;
  margin-top: 4px;
  background-color: #4D4D4F;
}
.talk-header .mainNav {
  background-color: whitesmoke;
  opacity: 0.2;
  position: absolute;
  z-index: -10;
  width: 100%;
  top: -500px;
  left: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}
.talk-header .mainNav .navList {
  padding: 10px auto;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.talk-header .mainNav .navList a {
  color: black;
  text-decoration: none;
  width: 85%;
  padding: 30px 0;
  border-bottom: solid 1px rgba(216, 0, 0, 0.6);
  transition: all 0.1s ease;
}
.talk-header .mainNav .navList a:hover {
  color: rgba(216, 0, 0, 0.6);
}
.talk-header .mainNav .navList a:last-child {
  color: #ffffff;
  background-color: rgba(216, 0, 0, 0.6);
}
.talk-header .navOn {
  background-color: #6f437a;
  opacity: 0.9;
  pointer-events: all;
  top: 70px;
  z-index: 1;
}

.talk-deets {
  background-color: #ffffff;
  color: white;
  margin: 0 auto;
  padding: 2.5em 0.5em;
  max-width: 840px;
}
.talk-deets h3 {
  color: #3d3c3d;
  text-align: center;
  font-weight: bold;
}
.talk-deets .video-box {
  margin-top: 60px;
  padding-top: 40px;
  margin: 0 auto;
  max-width: 720px;
}

.resource {
  margin: 0 auto;
  padding: 1.5em 0.5em;
  max-width: 840px;
  text-align: center;
}
.resource a:link {
  text-decoration: none;
}
.resource h4 {
  color: #3d3c3d;
  padding: 0.25em 0.5em;
  margin-bottom: 0.5em;
}
.resource .same-gender {
  background-color: #6f437a;
  margin: 0 auto;
}
.resource .same-gender .resource-link {
  margin: 0 auto;
  padding: 2.5em 2.5em;
  background-color: #6f437a;
  text-decoration: none;
  border-radius: 0.25em;
}
.resource .same-gender .resource-link .resource-item__links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0.5em 0.5em;
}
.resource .same-gender .resource-link .resource-item__links .btn {
  background-color: white;
  border: 0.5em solid #6f437a;
  padding: 10px 20px;
  margin: 10px auto;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Raleway";
  font-size: 14px;
  color: white;
  transition: all 0.1s ease;
}
.resource .same-gender .resource-link .resource-item__links .btn:hover {
  background-color: #6f437a;
  color: rgba(216, 0, 0, 0.6);
}
.resource .trans {
  margin: 0 auto;
  padding: 1.5em 0.25em;
  max-width: 840px;
  text-align: center;
}
.resource .trans h4 {
  color: #3d3c3d;
  padding: 0.25em 0.5em;
  margin-bottom: 0.5em;
}
.resource .trans .resource-link {
  padding: 2.5em 2.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #6f437a;
  text-decoration: none;
  border-radius: 0.25em;
}
.resource .trans .resource-link .resource-item__links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0.5em 0.5em;
}
.resource .trans .resource-link .resource-item__links .btn {
  background-color: white;
  border: 0.5em solid #6f437a;
  padding: 10px 20px;
  margin: 10px auto;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Raleway";
  font-size: 14px;
  color: white;
  transition: all 0.1s ease;
}
.resource .trans .resource-link .resource-item__links .btn:hover {
  background-color: #6f437a;
  color: rgba(216, 0, 0, 0.6);
}

.community {
  margin: 0 auto;
  padding: 0.75em 0.75em;
  background: #3d3c3d;
}
.community h2 {
  margin-top: 20px;
  text-align: center;
  padding: 0.25em;
  font-weight: bold;
  color: whitesmoke;
  font-size: 2.75em;
  line-height: 1.2;
}
.community .support-img {
  margin: 0 auto;
  margin: 40px 0 20px 0;
}
.community .support-img .support-pic {
  width: 100%;
}
.community h4 {
  margin: 20px 0 20px 0;
  text-align: center;
  color: whitesmoke;
  font-size: 1.75em;
}
.community .support-links {
  margin: 0 auto;
  padding: 2.5em 2.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.community .support-links .support-link {
  background-color: white;
  border-radius: 2.5em;
  margin: 10px auto;
  border: 0.25em solid #6f437a;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Raleway";
  font-size: 14px;
  color: #7d737f;
  transition: all 0.1s ease;
}
.community .support-links .support-link:hover {
  background-color: #6f437a;
  color: rgba(216, 0, 0, 0.6);
  transform: scale(1.1);
}

.crisis-box {
  padding: 1.5em 2.5em;
  margin: 0 auto;
  background-color: #6f437a;
}
.crisis-box .crisis {
  color: whitesmoke;
}
.crisis-box .crisis h4 {
  text-align: center;
  margin: 20px 0 20px 0;
}
.crisis-box .crisis p {
  text-align: center;
  padding: 0.25em;
  line-height: 1.2;
}

@media screen and (min-width: 840px) {
  .community h2 {
    font-size: 3.75em;
  }
  .community h4 {
    font-size: 2.75em;
  }
}
.extra {
  color: #4D4D4F;
  font-size: 11px;
}
.extra a {
  color: #4D4D4F;
}

/*# sourceMappingURL=style.css.map */
