@charset "utf-8";

// @import './modules/reset';
// @import './modules/header';

body{
    width: 100%; 
    margin: 0 auto;
    text-align: center;

    font-family: 'Raleway', sans-serif;
}

.hidden{
    display: none;
}


// header

.header{
    position: fixed;
    background-color: white;

    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    .mainLogo{
        margin: 10px 0;
        height: 50px;
        align-self: center;
    }
    .burger{
        align-self: center;
        width: 26px;
        .bLine{
            border-radius: 10px;
            height: 4px;
            margin-top: 4px;
            background-color: #4D4D4F;
        }
    }

    .mainNav{
        width: 100%;
        .navList{
            margin: 10px auto;
            width: 95%;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #4D4D4F;

            .navItem{
                width: 100%;
                padding: 30px 0;

                border-bottom: solid 1px rgba(216, 0, 0, .6);
            }

        }
    }
}

.content{
    padding-top: 80px;
    padding-left: 5px;
    padding-right: 5px;

    .hero{
        width: 100%;

        h2{
            font-size: 18px;
            line-height: 22px;
        }
        

        // add background image
    }

    .campaign{
        width: 85%;
        margin: 0 auto;

        .buzz{
            margin: 60px auto;
            text-align: left;
            

            i{
                font-size: 50px;
                margin: 40px 30px;
                color: #4D4D4F;
            }

            p{
                font-size: 20px;
            }
            span{
                font-size: 16px;
            }
        }
        .buzz:nth-child(2){
            text-align: right;
        }
        .buzz:first-child{
            margin-top: 0px;
            i{
                margin-top: 20px;
            }
        }
    }

    .about{

        h2{
            font-size: 24px;

            margin: 40px 0;
        }

        img{
            width: 100%;
        }

        p{
            margin: 40px 0;
            font-size: 18px;
            line-height: 22px;
        }
    }

    .contact{
        h2{
            font-size: 24px;

            margin-top: 40px;
        }

        p{
            font-size: 16px;
            margin: 10px 0;
        }

        form{
            margin: 10px auto;
            input, textarea{
                margin: 8px auto;
                width: 70%;
                padding: 5px;
                font-family: 'Raleway';
                font-size: 14px;
            }

            input{
                border: none;
                border-bottom: solid 1px rgba(77, 77, 79, .7);
                transition: all .1s ease;
            }
            input:focus{
                border-bottom: solid 1px rgba(216, 0, 0, .6);
            }
            textarea{
                border: none;
                height: 100px;
                border-bottom: solid 1px rgba(77, 77, 79, .7);
            }

            button{
                display: block;
                margin: 10px auto;
                border: none;
                padding: 5px 15px;
                border-radius: 25px;
                background: rgba(216, 0, 0, .6);

                font-family: 'Raleway';
                font-size: 14px;
                color: white;
            }
        }
    }

    .divide{
        height: 1px;
        width: 85%;
        border-radius: 1px;
        background-color: rgba(216, 0, 0, .6);

        margin: 40px auto;
    }

    .donate{
        h2{
            font-size: 24px;
            margin: 20px 0;
        }

        p{
            font-size: 16px;
            margin: 20px 0;
            margin-top: 0px;
        }

        button{
                display: block;
                margin: 20px auto;
                margin-top: 0;
                border: none;
                padding: 10px 25px;
                border-radius: 25px;
                background: rgba(216, 0, 0, .6);

                font-family: 'Raleway';
                font-size: 18px;
                color: white;
        }
    }
}


//footer

.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin-bottom: 30px;

    .navList{
        .navItem{
            margin-bottom: 10px;
            font-size: 14px;
            transition: all .1s ease;
        }

        a{
            color: #4D4D4F;
            text-decoration: none;
        }

        a:hover{
            color: rgba(216, 0, 0, .6);
        }
    }

    .social{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 35px;
        a{
            color: #4D4D4F;
            font-size: 18px;

            transition: all .1s ease;
        }

        a:hover{
            color: rgba(216, 0, 0, .6);
        }
    }

}