@charset "utf-8";

// @import './modules/reset';
// @import './modules/header';

html{
    scroll-behavior: smooth;
}

body{
    // padding: .5em 2.5em;
    width: 100%; 
    margin: 0 auto;
    text-align: center;

    font-family: 'Raleway', sans-serif;
    
}

img {
    display: block;
    max-width: 100%;
}

h1, h2, h3 {
    line-height: 1;
    margin: 0;
}

h1 {
   font-size: 4.5rem; 
}

h2 {
    font-size: 3.75rem; 
 }

 h3 {
    font-size: 2.5rem; 
 }

 h4 {
     font-size: 1.75rem;
 }

 p {
     text-align: center;
     padding: 1rem;
 }

 .container {
    background-color: #6f437a;
 }

//  video {
//     // padding: 1em 1em;
//     // max-width: 100%;
//     // height: auto;
// }


// section {
//     padding: 1.5em 1.5em;
// }

.hidden{
    display: none;
}

@import 'modules/_header';
@import 'modules/_content';
@import 'modules/_footer';
@import 'modules/_dashboard';
@import 'modules/_blog';
@import 'modules/_loginPage';
@import 'modules/_adminPage';
@import 'modules/_talkPage';
@import 'modules/_supportPage';



.extra{
    color: #4D4D4F;
    font-size: 11px;

    a{
        color: #4D4D4F;
    }
}






