
.community {
    margin: 0 auto;
    padding: .75em .75em;
    background: #3d3c3d;
    // max-width: 840px;

    h2 {
        margin-top: 20px;
        text-align: center;
        padding: .25em;
        font-weight: bold;
        color: whitesmoke;
        font-size: 2.75em;
        line-height: 1.2;
    }

    .support-img {
        margin: 0 auto;
        margin: 40px 0 20px 0;
        // width: 100%;
        .support-pic {
            width: 100%;
            // padding: 2.5em 2.5em;
        }

    }
    
    h4 {
        margin: 20px 0 20px 0;
        text-align: center;
        color: whitesmoke;
        font-size: 1.75em;
    }

    .support-links {
        margin: 0 auto;
        padding: 2.5em 2.5em;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .support-link {
            background-color: white;
            // width: 100%;
            border-radius: 2.5em;
            margin: 10px auto;
            border: .25em solid #6f437a;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;

            font-family: 'Raleway';
            font-size: 14px;
            color:  #7d737f;;

            transition: all .1s ease;

            &:hover{
                background-color: #6f437a;
                color: rgba(216, 0, 0, .6);
                transform: scale(1.1);
            }
        }
    }


}


.crisis-box {
    // max-width: 840px;
    padding: 1.5em 2.5em;
    margin: 0 auto;
    background-color: #6f437a;
    

    .crisis {
        color: whitesmoke;
        h4 {
            text-align: center;
            margin: 20px 0 20px 0;
        }

        p {
            text-align: center;
            padding: .25em;
            line-height: 1.2;
        }
    }
}

@media screen and (min-width: 840px) {
    .community {
      h2 {
          font-size: 3.75em;
      }

      h4 {
          font-size: 2.75em;
      }
    }
}

